.chart-title {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 20px;
}

.chart-data-grid {
    margin-top: 30px;
}

.more-container {
    padding: 0 0 10px;
}

.stats-table {
    margin-top: 0;
    font-size: 12px;
}

.stats-table tbody {
    font-weight: 300;
}

text.axis.title {
    display: none;
}