.data-table-container {
    width: 100%;
}

.table-control-container {
    float: left;
    margin: 0 20px;
}

.language-picker-container {
    margin-left: 0px;
}

.data-table-container table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.data-table-container div:first-child {
    margin-left: 2px;
}
