[submodule "onadata/apps/main/static/bootstrap/src"]
	path = onadata/apps/main/static/bootstrap/src
	url = git://github.com/twbs/bootstrap.git
[submodule "onadata/apps/main/static/recline"]
    path = onadata/apps/main/static/recline
    url = git://github.com/modilabs/recline.git
[submodule "onadata/libs/javascript/tests/EnvJasmine"]
	path = onadata/libs/javascript/tests/EnvJasmine
	url = git://github.com/trevmex/EnvJasmine.git
