language: python
addons:
  postgresql: 9.3
cache:
  apt: true
  directories:
    - $HOME/.pip-cache/
services:
  - mongodb
python:
  - '2.7'
before_install:
  - ./script/database/install_postgis onadata_test
  - ./script/install_ubuntu
env:
  - TESTFOLDER=onadata/apps/main
  - TESTFOLDER="onadata/apps/api onadata/apps/odk_logger onadata/apps/odk_viewer onadata/apps/restservice onadata/apps/sms_support onadata/apps/stats onadata/libs"
install:
  - pip install -r requirements/common.pip --download-cache $HOME/.pip-cache --use-mirrors
  - python manage.py syncdb --noinput --settings=onadata.settings.travis_test
  - python manage.py migrate --noinput --settings=onadata.settings.travis_test
  # make ~/tmp dir writable for npm downloads
  - if [[ "$TESTFOLDER" == onadata/apps/api* ]] ; then sudo chmod a+w $HOME/tmp ; fi
  - if [[ "$TESTFOLDER" == onadata/apps/api* ]] ; then npm install ; fi
  - if [[ "$TESTFOLDER" == onadata/apps/api* ]] ; then bower install --force-latest ; fi
script:
  - python manage.py test $TESTFOLDER --noinput --settings=onadata.settings.travis_test
  - if [[ "$TESTFOLDER" == onadata/apps/api* ]] ; then karma start onadata/libs/javascript/tests/karma.conf.js ; fi
notifications:
  email:
    - tech@ona.io
    - tino.kreutzer@kobotoolbox.org
  hipchat:
    rooms:
      secure: cfWcsNSVAq9vs0pFrT5VKrd7Be6uE8eDPuaOBVT+sGjRKoF7UgaY+jwHK6yaO+Iv+/4aBEsMb5Sc0qp0vQ7vwP9X9THO4Y+giFolQByKO74rnMEp/cn5Hdyv8r5UsHXLYj4MtipLAuD9wkZBOWjsbYfhhDZ6zJ7ZFztvYn/Fxoc=
  irc: 'irc.freenode.org#onatest'
