sudo: required
dist: trusty
language: python
addons:
  postgresql: 9.6
  apt:
    packages:
      - libjpeg-dev
      - zlib1g-dev
      - python-software-properties
      - ghostscript
      - libxslt1-dev
      - binutils
      - libproj-dev
      - libgdal1-dev
      - gdal-bin
      - memcached
      - libmemcached-dev

cache:
  apt: true
  directories:
    - $HOME/.pip-cache/
python:
  - '2.7.14'
  - '3.6'

services:
  - postgresql

env:
  - TESTFOLDER="onadata/libs onadata/apps/main onadata/apps/restservice onadata/apps/sms_support onadata/apps/viewer"
  - TESTFOLDER="onadata/apps/api onadata/apps/logger"

before_install:
  - export DEBIAN_FRONTEND=noninteractive;
  - sudo rm -f /etc/apt/sources.list.d/mongodb-3.4.list
  - sudo -E apt-get -y update
  - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install postgresql-9.6-postgis-2.3
  - sudo -E apt-get -yq --no-install-suggests --no-install-recommends --force-yes install openjdk-8-jre-headless
  - ./script/database/install_postgis onadata_test postgres 127.0.0.1

install:
  - pip install --upgrade pip setuptools
  - pip install -r requirements/base.pip
  - pip install flake8
script:
  - python manage.py test $TESTFOLDER --noinput --settings=onadata.settings.travis_test --parallel 4 --verbosity=2
notifications:
  slack: onaio:snkNXgprD498qQv4DgRREKJF
