services:
  api:
    environment:
      DJANGO_SETTINGS_MODULE: onadata.settings.docker
    build:
      context: .
      args:
        INSTALL_DEV_DEPENDENCIES: "true"
      dockerfile: ./docker/onadata-uwsgi/Dockerfile.ubuntu
    depends_on:
      - database
      - cache
    stdin_open: true
    tty: true
    volumes:
      - ./:/srv/onadata
      - savreaderwriter-exclusion:/srv/onadata/src/savreaderwriter
    ports:
      - "8000:8000"
    command: python3.10 manage.py runserver 0.0.0.0:8000

  celery:
    environment:
      DJANGO_SETTINGS_MODULE: onadata.settings.docker
    build:
      context: .
      args:
        INSTALL_DEV_DEPENDENCIES: "true"
      dockerfile: ./docker/onadata-uwsgi/Dockerfile.ubuntu
    depends_on:
      - database
      - cache
      - api
    volumes:
      - ./:/srv/onadata
      - savreaderwriter-exclusion:/srv/onadata/src/savreaderwriter
    command: celery -A onadata.celeryapp worker -B -l INFO -E

  database:
    image: postgis/postgis:13-3.3-alpine
    environment:
      POSTGRES_PASSWORD: onadata
      POSTGRES_USER: onadata
      POSTGRES_DB: onadata
    volumes:
      - dbdata:/var/lib/postgresql/data

  cache:
    image: redis:alpine

volumes:
  savreaderwriter-exclusion:
  dbdata:
