{% extends 'base.html' %}
{% load lookup_filter %}

{% block additional-headers %}
<script src="{{STATIC_URL}}bower_components/d3/d3.js"></script>
<script src="{{STATIC_URL}}bower_components/dimple/dist/dimple.v1.1.3.js"></script>
{% endblock %}

{% block content %}
<section>
  <div class="page-header">
      <h1>Charts <small><a href="{% url "onadata.apps.main.views.show" xform.user.username xform.id_string %}">{{ xform.title }}</a></small></h1>
  </div>

<div>
  {% for summary in summaries  %}
  {% with field_name=summary.field_name data_type=summary.data_type field_type=summary.field_type data=summary.data %}
  <div id="chart-{{ forloop.counter }}" style="width: 600px; height: 400px; margin-bottom: 30px;"></div>
  <script type="text/javascript">
    (function(elmSelector){
          var svg = dimple.newSvg(elmSelector, 600, 400);
          var data = [
            {% for item in data %}
              { "{{ field_name }}": "{{ item|lookup:field_name }}", "count": "{{ item.count }}" },
            {% endfor %}
          ];
          var chart = new dimple.chart(svg, data);
          var categoryAxisLocation = {% if data_type == "numeric" or data_type == 'time_based' %} "{{ "x" }}" {% else %} "{{ "y" }}" {% endif %};
          var countAxisLocation = {% if data_type == "numeric" or data_type == 'time_based' %} "{{ "y" }}" {% else %} "{{ "x" }}" {% endif %};
          var categoryAxis = chart.addAxis(categoryAxisLocation, "{{ field_name }}", null{% if data_type == 'time_based' %} , "{{ field_name }}" {% endif %});
          {% if data_type == 'time_based' %}
          categoryAxis.tickFormat = "%Y-%m-%d";
          categoryAxis.timePeriod = d3.time.hour;
          categoryAxis.timeInterval = 12;
          {% endif %}
          var countAxis = chart.addMeasureAxis(countAxisLocation, "count");
          chart.addSeries(null, dimple.plot.bar);
          chart.draw();
      })('#chart-{{ forloop.counter }}')
  </script>
  {% endwith %}
  {% endfor %}
</div>

</section>
{% endblock %}