{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div>
{% if xforms %}
<h2>{% blocktrans %}Submission Statistics{% endblocktrans %}</h2>
<ul>
    {% for xform in xforms %}
        <li>{{ xform.title }} - <a href="{% url 'form-stats' xform.user.username xform.id_string %}">Stats</a></li>
    {% endfor %}
</ul>
{% endif %}

{% if xform %}
    <h2>{{ xform.title }}</h2>
    <table class="table table-hover">
        <tr>
            <th>{% trans "Date" %}</th><th>#</th>
        </tr>
        {% for rec in submission_stats %}
        <tr>
            <td>{{ rec.date }}</td>
            <td>{{ rec.count }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</div>
{% endblock %}
