{% extends 'ona_base.html' %}
{% load humanize %}
{% load i18n %}

{% block styles %}
    {{block.super}}
    <style type="text/css">
    .container {
        max-width: 960px;
    }
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
    }
    .footer{
        margin-top: 45px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #e5e5e5;
        text-align: center;
    }
    #ona-tagline {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 48px;
        padding-bottom: 48px;
        text-align: center;
        color: #303C45;
    }
    #ona-tagline h1 {
        font-size: 50px;
    }
    #ona-tagline p {
        font-size: 18px;
    }
    </style>
{% endblock %}

{% block content %}
{% if SITE_READ_ONLY%}
<h1>{% blocktrans %}We're down for maintenance. We will be back shortly.{% endblocktrans %}</h1>
{% endif %}
<div id="ona-tagline">
    <h1>Collect, Analyze and Share Data.
    </h1>
    <p>Use mobile phones and the web to quickly collect, analyze and share data securely. Whether you are mapping, monitoring or enumerating - Ona is your trusted solution.</p>
</div>
<div class="row">
    <div class="col-md-8">
        <img src="{{STATIC_URL}}images/onadata-computer.png" width="497" height="363"/>
    </div>
    <div class="col-md-4">
        {% url "auth_login" as login_url %}
        <form role="form" method="post" action="{{ login_url }}">
                        <input type="text" class="form-control" autocomplete="off" autofocus="autofocus" name="username" placeholder="Username">
                        <br/>
                        <input type="password" class="form-control" autocomplete="off" name="password" placeholder="Password">
                        <br/>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans 'Sign in' %}</button>
                        <br/>
                        <p> Or if you want to create an account, please </p>
                        {% url "registration_register" as registration_url %}
                        {% blocktrans %}
                        <a class="btn btn-info btn-lg btn-block" href="{{ registration_url }}">Sign up</a>
                        {% endblocktrans %}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            {% url "auth_password_reset" as reset_url %}
            <p>{% blocktrans %}Can't access your account? <a href="{{ reset_url }}">Reset your password.</a>{% endblocktrans %}</p>
        </div>
        </div>
        {% endblock %}
