{% extends 'base.html' %}
{% load rest_framework %}

{% block title %}OpenID Connect - User Creation{% endblock %}

{% block content %}
<div class="content">
    <div class="content-body">
        <form method="POST" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <p class="error-message">{{ error }}</p>
            <input type="text" name="username" placeholder="Username" pattern="^[A-Za-z0-9_]*$" title="Username should not contain . @ - symbols">
            <input type="hidden" name="given_name" value="{{ given_name }}">
            <input type="hidden" name="family_name" value="{{ family_name }}">
            <input type="hidden" name="email" value="{{ email }}">
            <input type="submit" value="Save">
        </form>
    </div>
</div>
{% endblock %}