{% load i18n %}

<div id = "support">
<h2>Ona Privacy Policy</h2>
We take your privacy seriously. At Ona we collect and manage user data according to the following Privacy Policy.

<h3>Data Collected</h3>

We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. This includes information on web requests including IP addresses of site visitors, browser type and time of visit. When registering an account, we ask you to provide certain personal information such as your name and email to create your user profile. We will not share your personal information with third parties. Your password, which you will use to access the site, is stored encrypted and thus never accessible to Ona. Lost passwords can therefore only be reset and not retrieved.
<br><br>
You are able to view, change and remove your data associated with your profile. If you wish to delete your account please contact us at <a href="mailto:support@ona.io">support@ona.io</a>, and we will assist you in this request as soon as possible.
<br><br>
Minors and children under the age of 13 should not use any services offered by Ona. By using the Website, you represent that you are above the age of 13 and have the legal capacity to enter into a binding agreement.

<h3>User Data</h3>

We only use your personal information to provide you with Ona services or to communicate with you about our services or the Website.<br><br>

We take the privacy, confidentiality and security of any data you submit or upload to Ona very seriously, because it is your data. You retain ownership of the data. We will never share or access your data, unless granted permission by you, in order to provide you with technical assistance.
<br><br>
In order to comply with the law, we may release account and other personal information to comply on issues related to national security or to protect the rights of Ona and its users.

<h3>Protecting Your Data</h3>

Ona is committed to protecting the data you entrust to us. We employ industry standard best practices (both technical and administrative) to protect against unauthorized access of your data. We cannot guarantee, however, its absolute security. To protect from loss of data, we do frequent system and incremental backups which are stored encrypted in data centers across different geographic zones.
<br><br>
To further protect your data, we encourage you never to share your login information and to change your passwords regularly.
<br><br>
If you have any questions regarding our security and backup procedures please contact us at <a href="mailto:support@ona.io">support@ona.io</a>.

<h3>Changes to the Privacy Policy</h3>

We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here or by means of a notice on our homepage so that you are aware of any changes with relation to what information we collect, how we use it, and under what circumstances, if any, we disclose it.
<br><br>
Should you have any questions or concerns about our Privacy Policy please contact us as <a href="mailto:support@ona.io">support@ona.io</a>.

</div>
