{% load i18n %}

<div id = "support">
<h2>Support</h2>

<h3>Form Authoring with XLSForms</h3>

Ona uses <a href="http://xlsform.org">XLSForm</a> standard to allow you to author forms in XLS. While it takes some upfront 

To learn how to use

Also, be sure to checkout the <a href="">form gallery</a> which provides examples to test with

While there is an initial learning curve, we’ve found that XLS provides a great interface for authoring forms — whether it’s simple 5 question questionnaire or a complex survey with hundreds of questions. XLS also makes sharing and collaborating on forms easy. Whether you need help authoring your first form or want to pick up advanced tips, please check out our XLForm Syntax page and our gallery of sample forms on formhub University.

	Please contact us at support@ona.io if you have any problems.



Authoring with XLSForms


Getting Started
Need more help understanding what this is all about? We’ve created a comprehensive getting started guide to help you better understand how to get the most out of formhub.
Getting Help
If you need any extra help or have questions about authoring forms or using formhub please consider joining the formhub-users Google group .

For problems or suggestions related to the formhub service please email: For problems or suggestions related to the formhub service please email support@formhub.org or use the formhub-users Google group . For most problems, the Google group represents the option for getting a quick response.

Contribute
Love formhub? Help us make it better! formhub the free service, is based on an open-source data gathering platform that you are free to modify or run yourself.

If you’re interested finding out more, checkout formhub on github , join the formhub developer Google group and review our guide to contributing code . To file a request or report a bug please use our issue tracker.

Extensible
formhub is built to integrate seamlessly with other tools. Through APIs it’s possible to query formhub datasets externally and post formhub submissions to an external URl as they come in. For more info please see the formhub API docs.

</div>
