{% load i18n %}

<div id = "support">
<h2>Support</h2>

<h3>Form Authoring with XLSForms</h3>
Ona uses <a href="http://xlsform.org">XLSForm</a> standard to allow you to author forms in XLS. 
<br><br>
XLSForm is a form standard created to help simplify the authoring of forms using Excel. Authoring is done in a human readable format using a familiar tool that almost everyone knows - Excel. XLSForms provide a practical standard for sharing and collaborating on authoring forms. They are simple to get started with but allow for the authoring of complex forms by someone familiar with the syntax.
<br><br>
For a full reference please use: <a href="http://xlsform.org">XLSForm.org</a>.  Also, be sure to checkout the <a href="/forms">form gallery</a> which provides examples you can download and modify.

<h3>Support</h3>
If you encounter any problems using the Ona service please post a message to the Ona <a href="https://groups.google.com/forum/#!forum/ona-community">community mailing list</a>. You can also contact our support team at: <a href="mailto:support@ona.io.">support@ona.io</a/>.

<H3>API Usage</h3>
Ona provides a robust REST API that allow integration with other tools.  We also use Ona's APIs extensively to power custom dashboards for our clients.  We see a lot of potential as Ona as a data platform service.

Please checkout the <a href="/api">Ona API Docs</a>.  If you have any comments, suggestions or questions about the API use please email us at: <a href="mailto:platform@ona.io">platform@ona.io</a>.


</div>
