{% load i18n %}

<div id = "support">

<h3>Form Authoring with XLSForms</h3>

Ona uses <a href="http://xlsform.org">XLSForm</a> standard to allow you to author forms in XLS. 
<br><br>
XLSForm is a form standard created to help simplify the authoring of forms using Excel. Authoring is done in a human readable format using a familiar tool that almost everyone knows - Excel. XLSForms provide a practical standard for sharing and collaborating on authoring forms. They are simple to get started with but allow for the authoring of complex forms by someone familiar with the syntax.
<br><br>
For a full reference please use: <a href="http://xlsform.org">XLSForm.org</a>.  
<br><br>Also, be sure to checkout the <a href="/forms">form gallery</a> which provides examples you can download and modify.


</div>
