.data-table-container {
    width: 100%;
}

.data-table-container table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.label-toggle-container {
    float: left;
    margin: 20px 20px 20px 0px;
}