name: Docker Build Image

on:
  release:
      types:
          - "released"
  push:
    branches:
      - "main"
  workflow_dispatch:
      inputs:
          versionTag:
              description: "Version Tag"
              required: true
              default: ''

jobs:
  main:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Get the version
        id: get-version
        if: github.event.inputs.versionTag == '' && github.event_name != 'push'
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Get the branch name
        id: get-branch-name
        if: github.event_name == 'push'
        run: echo "version=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./docker/onadata-uwsgi
          file: ./docker/onadata-uwsgi/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            release_version=${{ github.event.inputs.versionTag || env.version }}
            optional_packages=PyYAML django-redis
          push: true
          tags: |
            onaio/onadata:${{ github.event.inputs.versionTag || env.version }}

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
