---
name: Docker Build Image

on:  # yamllint disable-line rule:truthy
  release:
    types:
      - "released"
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: onaio/onadata
          tags: |
            type=ref,event=branch
            type=ref,event=tag

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/onadata-uwsgi/Dockerfile.ubuntu
          platforms: linux/amd64,linux/arm64
          secrets: |
            ONADEPLOY_GH_TOKEN=${{ secrets.ONADEPLOY_GH_TOKEN }}
          build-args: |
            optional_packages=PyYAML django-redis
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          provenance: false

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
